body{
  background-color: ;
}

#banner-container{
  /*background-image:url(mugshots/electionbanner.png);*/
  background-image:url('../mugshots/electionbanner.png');
  height: 150px;
  width: 818px;
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  decoration: none;*/
}

a{
  color: black !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a:hover {
color: #005580;
text-decoration: underline;
}

p {
font-family: "Georgia", Helvetica, Arial, serif;
margin-bottom: 15px;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.container_style_02{
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 50px 30px 25px 30px;
  position: relative;
}
.img-responsive {
    display: block;
    /*max-height: 35%;
    max-width: 35%;*/
    float: left;
}

.img-candidate{

  width:435px ;
  height:465px ;
  padding: 12 px;
  float: left;
}

.candidates_title{
    font-style:bold;
}
#_vit
{
  width:435px ;
  height:465px ;
  padding: 12 px;

}

row{
  float:left;
}

.table_right_title{
  font-weight: bold;
}

.candidates_title{
  font-weight: bold;
}

.nav{
  font-size:10pt;
}

footer {
background-color: #eaeaea ;
border-top: 1px solid #b6b6b6;
box-shadow: 0 0 6px rgba(0,0,0,0.2);
height: 150px;
display: block;
margin-top: 20px;
text-align: center;
}

footer #footer-copy {
font-size: 10px;
font-style: italic;
}

footer #footer-nav {
font-size: 15px;
margin-top: 46px;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid black;
    color: black;
    text-align: center;
    font: 32px Arial, sans-serif;
    display: inline-block;
}

.propNo {
border-color: #750a0a;
color: #750a0a;
}
.propBubble {
font-family: "BebasNeueRegular";
font-size: 33px;
display: block;
border: 3px solid #AAA;
padding: 15px;
border-radius: 38px;
width: 10px;
height: 10px;
line-height: 15px;
color: #AAA;
float: left;
}

.propNum {
position: relative;
left: -7px;
}

.propNo {
border-color: #750a0a;
color: #750a0a;
}
.propBubble {
font-family: "BebasNeueRegular";
font-size: 20px;
display: block;
border: 3px solid #AAA;
padding: 15px;
border-radius: 38px;
width: 10px;
height: 10px;
line-height: 15px;
color: #AAA;
float: left;
}

.candidate1Div{
  margin-left:15%;
}

.accordionBoth{
  margin-top:1%;
}

.accordionFirst{
  margin-left:15%;
}

.accordionSecond{

}

/*.bannerImg{
  margin-left:13%;
  width: 944px;
  height: 150px
}*/

.navbar-nav{
  font-size:medium;
  margin-left:19% !important;
}

.tableEndorsement{
  text-align:center;
}

.table{
  margin-bottom: 0px !important;
}


.endorse_place{
  margin-top:0%;
  margin-bottom:0%;

}

.modal-thumb {
opacity: 1;
float: left;
display: inline-block;
width: 100px;
margin: 5px 0 5px 15px;
}

.modal-header{
  text-align:center;
}
.modal-body{
  font-size: 15px;
}

.defineTitle {
text-align:center;
font-size: 1.5em;
font-family: 'Roboto Slab', serif;
color: #34495e;
vertical-align: middle;
display: inline;
width: 100%;
}

.tab{
  display:inline-block; 
padding-left: 30px;
margin-left: 0.6em;
}

.panel{
  background-color: #87CEEB !important;
  opacity:0.9;
}

.endorseProp{
  height:312px;
  width:290px;
  font-size: 200px;
}

.btn-primary {
  color: #fff;
  background-color: white !important;
  border-color: white !important;
}

.propositions {
  text-align:center;
}
.candidates{
  border: 1px solid #ddd;
  text-align: center;

}
.propositions h3{
  border: 1px solid #ddd;
  font-size: 30px;
}
.passed {
  color: #0a750e;


}
.failed {
  color:#750a0a;
}
.thumbnail a > img {
  width: 290px;
}
.propositions a:hover{
  text-decoration: none;
}
.row a:hover{
  text-decoration: none;
}

